<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="/Content/img/ticketizerlogo_JPr_icon.ico">
        <link rel="stylesheet" href="/Content/css/styles.css">
        <script src="/Content/js/jquery-3.1.1.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="/Content/js/scripts.js" charset="utf-8"></script>
        <title>Ticketizer</title>
    </head>
    <body>
        <div class="container">
            <h1 class="layout-logo"><a href="/">Ticketizer</h1>
                <div class="row">
                    <a href="/new-ticket"><i class="medium material-icons">turned_in_not</i>New Ticket</a>
                    <a href="/new-article"><i class="medium material-icons">library_add</i>New Article</a>
                    <a href="/full-article-list"><i class="medium material-icons">library_books</i>Browse Articles</a>
                    <div class="row search-form">
                        <form class="" action="/find-ticket" method="get">
                            <input type="text" name="ticket-number" placeholder="Search by Ticket #">
                            <button class="btn" type="submit" name="button">Find</button>
                        </form>
                    </div>
                </div>
            @RenderBody()
        </div>
    </body>
    <footer>

    </footer>
    <div class="container">
            <p class="right"><em>Ticketizer</em> is a group project by Chad T. Durkin, Lawrence Eby, Melvin F. Gruschow, and Grinil Khanna made at the Epicodus code school in Seattle.</em></p>
    </div>
</html>
