@{
    Layout="Shared/_Layout.cshtml";
}

<h1>@Model["Article"].GetTitle()</h1>
<hr/>
<p>@Model["Article"].GetText()</p>

<form class="" action="/ticket/@Model["TicketId"]/articles/@Model["Article"].GetId()" method="post">
    <button type="submit" name="button">Add to Ticket</button>
</form>
