@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s3">
        <p>Departments</p>
        <hr>
        @if(Model["Departments"].Count != 0)
        {
            foreach(var department in Model["Departments"])
            {
                <a href="/category/@department.GetId()"<p>@department.GetName()</p></a>
            }
        }
        else
        {
            <p>There are no departments in the queue</p>
        }
        <p><a href="/archive">Archive</a></p>
    </div>
    <div class="col s9">
        <p>Tickets</p>
        @if(Model["Tickets"].Count != 0)
        {
            foreach(var ticket in Model["Tickets"])
            {
                <a href="/ticket/@ticket.GetId()">
                    <div class="ticket">
                        <p>Ticket Number: @ticket.GetConvertedTicketNum() </p>
                        <p>Severity: @ticket.GetSeverity() </p>
                        <p>Status: @ticket.GetStatus()</p>
                    </div>
                </a>
                <hr>
            }
        }
        else
        {
            <p>There are no tickets in the queue</p>
        }
    </div>
</div>
<div class="row">
    <form class="" action="/add-department" method="post">
        <input type="text" name="department-name" placeholder="Add Department" required>
        <button type="submit" name="button">Add department</button>
    </form>
</div>
