@{
    Layout="Shared/_Layout.cshtml";
}

<h3>New Article</h3>
<hr/>
<form class="" action="/new-article" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" placeholder="Title">
    <label for="text">Text: </label>
    <textarea name="text" placeholder="Enter text here"></textarea>
    <button type="submit" name="button">Create</button>
</form>
